<div class="row">
  <div class="col-xs-12">
    <img [src]=selektovan.imagePath alt="{{selektovan.name}}" class="img-responsive" style="max-height: 50px;">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>{{selektovan.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">Manage recepie<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Dodaj sastojak na shoping listu</a></li>
        <li><a href="#">Ispravi recept</a></li>
        <li><a href="#">Obrisi recept</a></li>
      </ul>
      
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    {{selektovan.description}}
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    Sastojci
  </div>
</div>

