<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->
      <form (ngSubmit)="onSubmit(celaForma)" #celaForma="ngForm">
<div class="form-group" >
      <label for="e-posta">Ukucaj mail</label>
      <input 
      type="email" 
      id="e-posta"
      class="form-control"
      ngModel name="email"
      #email=ngModel
      
      email
      required
      >
      <p *ngIf="!email.valid && email.touched">Nije popunjjeno polje</p>
<hr>
<div class="form-group" >
<label for="lozinka">Ukucaj lozinku</label>
      <input 
      class="form-control"
      type="password" 
      id="lozinka"
      ngModel name="tajnaLozinka"
      required
      >
      </div>
      <p *ngIf="upisanPass">Nije popunjjeno polje</p>
</div>      
<hr>
<div class="form-group" >
      <label for="pretplata">Ukucaj vrstu pretplate</label>
      <select 
      class="form-control" 
      id="pretplata"
      ngModel name="vrstaPretplate"
      [ngModel]="placeholderSelekta">
      <option *ngFor="let item of pretplate" [value]="item">{{item}}</option>
      <!-- NISAM HTEO OVAKO DA OSTAVIM -->
        <!-- <option value="basic">Basic</option>
        <option value="advanced">Advanced</option>
        <option value="pro">Pro</option> -->

      </select>
    </div>
<hr>
      
      <button class="btn btn-primary"type="submit">Posalji</button>


</form>
<p *ngIf="!celaForma.valid && celaForma.untouched">Cela forma nije ispravna</p>
<hr>
<div *ngIf="ispravno">
  <p >
  TVOJ MAIL = {{sve.mail}},
</p>
<p >
  TVOJA VRSTA PRETPLATE = {{sve.vrsta}},
</p>
<p >
  TVOJ PASS = {{sve.pass}}
</p>
</div>

    </div>
  </div>
</div>
