<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
      [routerLink]="[ '/servers',server.id]"
      [queryParams]="{alowEdit:'1'}"
      fragment=loading
        href="#"
        class="list-group-item"
        *ngFor="let server of server">
        {{ server.name }}
      </a>
    </div>
     <button class="btn btn-primary" (click)='onReload()'>Reload</button>
  </div>
 
  <div class="col-xs-12 col-sm-4">
<button class="btn btn-primary" (click)='onReload()'>Reload</button>
    
    <app-edit-server></app-edit-server>
    <hr>
    <!-- <app-server></app-server> -->
  </div>
</div>

