<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="samoParni = !samoParni">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <!-- <div *ngIf="!samoParni">
        <li
          class="list-group-item"
          appBoljeOsvetli
          *ngFor="let neparniBroj of neparniBrojevi"
          [ngClass]="{neparni:neparniBroj%2!=0}"
          >
          {{neparniBroj}}
        </li>
        </div>
        -->
        <div *ngIf="samoParni">
          <li class="list-group-item"
          [ngClass]="{pari:parni%2==0}"
          *ngFor="let parni of parniBrojevi"
          [ngStyle]="{backgroundColor:parni %2==0?'yellow':'blue'}"
          >
          {{parni}}
        </li>
        </div> 
        
      <div *appSuprotno="samoParni">
        <li
          class="list-group-item"
          appBoljeOsvetli
          *ngFor="let neparniBroj of neparniBrojevi"
          [ngClass]="{neparni:neparniBroj%2!=0}"
          >
          {{neparniBroj}}
        </li>
        </div>


      </ul>
      <p appBasicOsvetli>Osvetli me</p>
      <p appBoljeOsvetli [defaultColor]="'red'" [novaBoja]="'grey'"> Osvetli mebolje</p>
      <div [ngSwitch]="value">
      <p *ngSwitchCase="5">
      Jeste
      </p>
      <p *ngSwitchCase="10">
      Nije
      </p>
      <p *ngSwitchDefault>
      default
      </p>
      </div>
    </div>
    <div>


<button mat-stroked-button (click)="openSnackBar('Dance', 'Skloni')">Show snack-bar</button>


</div>
  </div>
</div>
