<!-- <a style="cursor: pointer;" class="list-group-item clearfix" (click)="kliknuto()"> PRE RUTIRANJA-->
  <a style="cursor: pointer;" class="list-group-item clearfix">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{recepie.name}}</h4>
        <p class="list-group-item-text">{{recepie.description}}</p>
      </div>
      <div class="pull-right">
        <img [src]='recepie.imagePath' alt="{{recepie.name}}" class="img-fluid" style="max-height: 200px;">
      </div>
    </a>
