<button class="btn btn-primary" [disabled]="!allowNewServer"
(click)="onCreateServer()">Dodaj server</button>
<label>Ime servera:</label>
<input type="text" class="form-controll" (input)="onUpdateServerName($event)"><hr>
<input 
type="text" 
class="form-controll" 
[(ngModel)]="imeServera"
>
<p>servers works!</p>
<!-- <p [innerText]="allowNewServer"></p> -->
<!-- <p>{{serverCreation}}</p> -->
<!-- ovo gore je zakomenterisano da bi se proradile direktive -->
<p *ngIf="serverCreated;else noServer">Server je napravljen, ime servera je {{imeServera}}</p>
<ng-template #noServer>
<p >Server nije napravljen</p>
</ng-template>
<app-server *ngFor="let elem of servers"></app-server>