<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--
          Create a Form with the following Controls and Validators
          1) Project Name (should not be empty)
          2) Mail (should not be a empty and a valid email)
          3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
          4) Submit Button

          Add your own Validator which doesn't allow "Test" as a Project Name

          Also implement that Validator as an async Validator (replace the other one)

          Upon submitting the form, simply print the value to the console
      -->
      <form [formGroup]='formaMoja' (ngSubmit)="onSubmit()">
        <label>Upisi projekat</label>
        <input 
        type="text" 
        class="form-control"
        formControlName="ime"
        >
        <p *ngIf="!formaMoja.valid && formaMoja.touched">Neispravno</p>
        <hr>
        <label>Upisi email</label>
        <input         
        class="form-control"
        formControlName="mail">
        <hr>
        <label>Odaberi Status</label>
        <select 
        formControlName="status"
        class="form-control"
        >
        <option *ngFor="let item of statusi" value='item'>{{item}}</option>
        </select>
        <hr>
       <button
        type="submit"
        class='btn btn-primary'>Posalji</button>

      </form>
      
    </div>
  </div>
</div>
